{% extends "layout.html" %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cart.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='remove.js') }}" async></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock head %}

{% block active %}
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a class="active" class="shopping_cart" href="/cart"><svg  xmlns="http://www.w3.org/2000/svg" width="20" stroke="#314f6f" fill="#314f6f" height="20" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg></a>
{%endblock active %}

{% block content %}

    <h1 style="text-align: center; font-size: 50px;">Current shopping cart:</h1>
    
    <div class="brands">
        <div class="sign coles" style="text-align: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Coles_logo.svg/1280px-Coles_logo.svg.png" height="70">
        </div>
        <div class="sign woolies" style="text-align: center;">
            <img src="https://cdn.worldvectorlogo.com/logos/woolworths-5.svg" height="50px" >
        </div>
    </div>

    <div class="grid-container">
        <div class="inside-grid-container left">
            {% for product in product_coles %}
                <div class="product left-side">
                        <h1 class="font">{{ product.name }}</h1>
                        <p class="font price-size">{{ product.price }} | {{ product.size }}</p>
                        <img class="font" src={{ product.image_url }}>
                        <p></p>
                        <button class="addtocart-coles" type="button" style="text-align: center;">Remove from cart</button>
                </div>
            {% endfor %}
        </div>
      
        <div class="inside-grid-container right">
            {% for product1 in product_woolies %}
                <div class="product right-side">
                        <h1 class="font">{{ product1.name }}</h1>
                        <p class="font price-size">{{ product1.price }}</p>
                        <img class="font" src={{ product1.image_url }} style="height:170px; width: 170px;">
                        <p></p>
                        <button class="addtocart-woolies" type="button" style="text-align: center;">Remove from cart</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <h1 style="text-align: center; font-size: 50px;">Total: ${{total}}</h1>




{% endblock content %}

